<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>ionic的web模板</title>
    <link href="css/ionic.css" rel="stylesheet">
    <script src="js/angularjs/angular.min.js"></script>
    <script src="js/do.js"></script>
  </head>
  <body ng-app="app" class="cardsHeaderPage md">
    <!-- 头部 -->
    <header  ng-controller="headerCtrl">
      <!-- 标题 -->
      <div class="bar bar-header bar-positive">
        <button onclick="doBack()" class="button icon ion-chevron-left"></button>
        <h1 class="title" ng-bind="headerTitle"></h1>
      </div>
    </header>


    <!-- 主体内容区 -->
    <div class="scroll-content has-header stable-bg calm" overflow-scroll="true">
      <!-- 卡片 -->
      <div>
        <section class="card" ng-controller="cardsCtrl">
          <div class="item item-divider row" >
            <h2 class="col col-80" ng-bind="titleName"></h2>
            <span class="col col-20 text-right">更多<i class="icon ion-more more-i"></i></span>
          </div>
          <div class="item item-text-wrap padding-no">
            <ul class="list card-body list-inset margin-no">
              <li class="item" ng-repeat="x in items">
                <a ng-href="{{x.href}}" >
                  <h3 class="title" ng-bind="x.title"></h3>
                  <span class="time" ng-bind="x.time"></span>
                </a>

              </li>
            </ul>
          </div>
        </section>
      </div>


    </div>

    <!-- 底部 -->
    <footer ng-controller="footerCtrl">
      <div class="tabs tabs-positive tabs-icon-top">
        <a ng-repeat="tab in footerTabs" class="tab-item" ng-href="{{tab.href}}">
          <i class="icon" ng-class="tab.icon"></i>
          <span ng-bind="tab.title"></span>
        </a>
      </div>
    </footer>
    <script src="js/app.js"></script>
    <script src="js/page/cardsHeaderPage.js"></script>
  </body>
</html>
