<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>ionic的web模板</title>
    <link href="css/ionic.css" rel="stylesheet">
    <script src="js/angularjs/angular.min.js"></script>
    <script src="js/do.js"></script>
  </head>
  <body ng-app="app" class="indexPage md">
    <!-- 头部 -->
    <header  ng-controller="headerCtrl">
      <!-- 标题 -->
      <div class="bar bar-header bar-positive">
        <h1 class="title" ng-bind="headerTitle"></h1>
      </div>
    </header>


    <!-- 主体内容区 -->
    <div class="scroll-content has-header stable-bg calm" overflow-scroll="true" ng-controller="cardsCtrl">
      <!-- 搜索 -->
      <div class="search-bar row">
        <input class="col col-90" type="text" placeholder="请输入搜索关键字">
        <button class="col col-10"><i class="icon ion-search"></i></button>
      </div>

      <!-- 卡片 -->
      <ul>
        <li class="card" ng-repeat="x in items">
          <a class="item item-text-wrap">
            <h2 class="title" ng-bind="x.title"></h2>
            <div>
              <span class="time" ng-bind="x.time"></span>
              <span class="status" ng-bind="x.status"></span>
            </div>
          </a>
        </li>
      </ul>


    </div>

    <!-- 底部 -->
    <footer ng-controller="footerCtrl">
      <div class="tabs tabs-positive tabs-icon-top">
        <a ng-repeat="tab in footerTabs" class="tab-item" ng-href="{{tab.href}}">
          <i class="icon" ng-class="tab.icon"></i>
          <span ng-bind="tab.title"></span>
        </a>
      </div>
    </footer>
    <script src="js/app.js"></script>
    <script src="js/page/cardsPage.js"></script>
  </body>
</html>
